BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-05-24 09:53:26.257308');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-05-24 09:53:26.279281');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-05-24 09:53:26.291784');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Porsche Porsche 911',1,'[{"added": {}}]',8,1,'2025-05-24 09:58:17.904839');
INSERT INTO django_admin_log VALUES(2,'1','admin',2,'[{"changed": {"fields": ["First name", "Last name"]}}]',4,1,'2025-05-24 10:14:07.774629');
INSERT INTO django_admin_log VALUES(3,'1','╨Ф╨╡╤В╤Б╨║╨╛╨╡ ╨║╤А╨╡╤Б╨╗╨╛',1,'[{"added": {}}]',9,1,'2025-05-24 10:40:27.310818');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$1000000$ji4i8aYmMiz7pKUmdIvaeQ$xEeMXz2TRUxHEj4jGjaqjCUKnI/91UoJFXNTjgJemgE=','2025-05-26 14:58:41.653572',1,'admin','╨Р╨╜╨┤╤А╨╕╨░╨╜╨╛╨▓','adrinal1ne30rus@mail.ru',1,1,'2025-05-24 09:54:35','╨Ь╨░╨║╤Б╨╕╨╝');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$1000000$BbK2hEQsLIly1wFW4v5wYV$BfKObviYL6072gUbkaa9LBT+C0KNFFMG1+j5xIMSLPs=',NULL,0,'╨Я╨╛╨║╤Г╨┐╨░╤В╨╡╨╗╤М','','',0,1,'2025-05-24 11:15:11.414737','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('t08x9w2j1eavymnzyu1sbiw6ft13tik0','.eJxVjEEOwiAQRe_C2hAKFMSle89AhmFGqgaS0q6Md7dNutDte-__t4iwLiWuneY4ZXERgzj9sgT4pLqL_IB6bxJbXeYpyT2Rh-3y1jK9rkf7d1Cgl20N9kyDYU3IOmsVRnCUbA52DNZ4TDo7UoHRbNwrZM-WHHgNzhhgcOLzBfg_OJY:1uJZHl:Qm5AokE-TlzOeHGBiooPP9o90URrkidRDQ7wmRxIA_o','2025-06-09 14:58:41.660567');
CREATE TABLE IF NOT EXISTS "rental_car" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "name" varchar(100) NOT NULL, "brand" varchar(100) NOT NULL, "type" varchar(50) NOT NULL, "price" decimal NOT NULL, "is_available" bool NOT NULL, "image" varchar(100) NULL);
INSERT INTO rental_car VALUES(1,'Huracan EVO','Lamborghini','╨Ъ╤Г╨┐╨╡',3500,1,'cars/lamborghini.jpg');
INSERT INTO rental_car VALUES(2,'Range Rover Vogue','Land Rover','╨Т╨╜╨╡╨┤╨╛╤А╨╛╨╢╨╜╨╕╨║',2700,1,'cars/range.png');
INSERT INTO rental_car VALUES(3,'G63 AMG','Mercedes-Benz','SUV',3000,1,'cars/gelik.png');
CREATE TABLE IF NOT EXISTS "rental_booking" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "date_from" date NOT NULL, "date_to" date NOT NULL, "status" varchar(20) NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "car_id" bigint NOT NULL REFERENCES "rental_car" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO rental_booking VALUES(1,'2025-05-24','2025-05-27','pending',2,7);
CREATE TABLE IF NOT EXISTS "rental_service" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "name" varchar(100) NOT NULL);
INSERT INTO rental_service VALUES(1,'╨Ф╨╡╤В╤Б╨║╨╛╨╡ ╨║╤А╨╡╤Б╨╗╨╛');
INSERT INTO rental_service VALUES(2,'╨Ф╨╛╨┐. ╤Б╤В╤А╨░╤Е╨╛╨▓╨║╨░');
CREATE TABLE IF NOT EXISTS "rental_car_services" ("id" integer NOT NULL PRIMARY KEY AUTO_INCREMENT, "car_id" bigint NOT NULL REFERENCES "rental_car" ("id") DEFERRABLE INITIALLY DEFERRED, "service_id" bigint NOT NULL REFERENCES "rental_service" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO rental_car_services VALUES(2,1,2);
INSERT INTO sqlite_sequence VALUES('django_migrations',21);
INSERT INTO sqlite_sequence VALUES('django_admin_log',17);
INSERT INTO sqlite_sequence VALUES('django_content_type',9);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "rental_booking_user_id_d6ef6d9d" ON "rental_booking" ("user_id");
CREATE INDEX "rental_booking_car_id_505b31d8" ON "rental_booking" ("car_id");
CREATE UNIQUE INDEX "rental_car_services_car_id_service_id_524d4aab_uniq" ON "rental_car_services" ("car_id", "service_id");
CREATE INDEX "rental_car_services_car_id_1798ad36" ON "rental_car_services" ("car_id");
CREATE INDEX "rental_car_services_service_id_76802b61" ON "rental_car_services" ("service_id");
COMMIT;
